<% include partials/header%>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    </head>
    <body>
    
    <table>
        <tr>
          <td><b>Patient_id</b></td>
            <td><b>Name</b></td>
            <!-- <td><b>LastName</b></td> -->
            <td><b>DateOfAppointment</b></td>
            <td><b>Sex</b></td>
            <td><b>Disease</b></td>

        </tr>
            <% appointment.forEach(function(appointment){ %>
                <tr>
                  <td><%=appointment.id%></td>
                <td><%=appointment.name%></td>
             
                <td><%=appointment.doa%></td>
                <td>
                    <% if(appointment.sex===true){%>
                        Male
                   <% }else{%>
                       Female
                   <% }%>
                </td>
                <td><%=appointment.diseases%></td>
                <td><a href="/users/appointment/delete/<%=appointment.id %>?_method=DELETE" method="GET">delete</a></td>
            </tr>
            <% } );%>
        
    </table>
    

    <script>
        
    </script>

<%include partials/footer%>