<%include partials/header%>
<link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css">

<style>

</style>
<script type="text/javascript" src="stylesheets/morris/morris.min.js"></script>
    <script type="text/javascript" src="stylesheets/raphael/raphael-min.js"></script>
    
    <script type="text/javascript" src="javascripts/chart.js"></script>

  
  <% if(currentUser.isDoc==true){%>
<div class="sidebar" id="sidebar"> <!-- sidebar -->
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                            <li class="active">
                                    <a href="/landing"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                            </li>
            
                        <li class="">
                            <a href="/add-patient"><i class="fa fa-user" aria-hidden="true"></i> <span> Add patient</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
<div class="page-wrapper"> <!-- content -->
            <div class="content container-fluid">
               <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-primary"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3><%=patient.length%></h3>
                                <span>Patients</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 text-center">
                        <h1 style="color:#01c0c8; padding-top:35px" class="text">Welcome aboard, Dr. <%=currentUser.name%>!!</h1>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3><%=appointment.length%></h3>
                                <span>Appointments</span>
                            </div>
                        </div>
                    </div>
                </div>
        
        
        <div class="row mt-4">
          

          <div class="col-lg-12">
            <div class="content-page">
              <div class="row">
                <div class="col-md-12">
                  <div class="page-title mb-2">
                    View Appointments
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped custom-table">
                      <thead>
                        <tr>
                          <th style="min-width:121px;">Patient_id</th>
                          <th style="min-width:90px;">Name</th>
                          <th style="min-width:90px;">Sex</th>
                          <th style="min-width:70px;">DOA</th>
                          
                          <th style="min-width:70px;">Time</th>
                          <th style="min-width:70px;">Disease</th>
                          <th class="text-right"style="width:10%;">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                         <% appointment.forEach(function(appointment){ %>
                <tr>
                  <td><%=appointment.id%></td>
                <td><%=appointment.name%></td>
                <td>
                    <% if(appointment.sex===true){%>
                        Male
                   <% }else{%>
                       Female
                   <% }%>
                </td>
                <td><%=appointment.doa%></td>
                <td><%=appointment.time%></td>
                <td><%=appointment.diseases%></td>
                <td class="text-right"><a class="btn btn-danger btn-sm mb-1" href="/users/appointment/delete/<%=appointment.id %>?_method=DELETE" method="GET"><i class="fa fa-trash-o"  aria-hidden="true"></i></a></td>
            </tr>
            <% } );%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-lg-12">
            <div class="content-page">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-title mb-2">
                    All Patients
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped custom-table">
                      <thead>
                        <tr>
                          <th style="min-width:50px;">Patient Id</th>
                          <th style="min-width:74px;">FirstName</th>
                          <th style="min-width:50px;">Lastname</th>
                          <th style="min-width:50px;">Date of Birth</th>
                          <th style="min-width:98px;">Sex</th>
                          <th style="min-width:90px;">Disease</th>
                          <th >Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% patient.forEach(function(patient){ %>
                <tr>
                  <td><%=patient._id%></td>
                <td><%=patient.firstName%></td>
                <td><%=patient.lastName%></td>
                <td><%=patient.dateOfBirth%></td>
                <td>
                    <% if(patient.sex===true){%>
                        Male
                   <% }else{%>
                       Female
                   <% }%>
                </td>
                <td><%=patient.diseases%></td>
                <td><a class="btn btn-danger btn-sm mb-1" href="/users/delete/<%=patient._id %>?_method=DELETE" method="POST"><i class="fa fa-trash-o"  aria-hidden="true"></i></a></td>
            </tr>
            <% } );%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           </div>       
        </div>
        
          </div>
        </div>
      </div>
    </div>












   <%}else{%>
    <div class="sidebar" id="sidebar"> <!-- sidebar -->
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                            <li class="active">
                                    <a href="/landing"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
                            </li>
            
                        <li class="">
                            <a href="/add-appointment"><i class="fa fa-user" aria-hidden="true"></i> <span> Book appointment</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



   <div class="page-wrapper"> <!-- content -->
            <div class="content container-fluid">
               <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-primary"><i class="fa fa-users" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                            <%if(appointment.length>0){%>
                                <h3><%=appointment[0].doa.getDate()+"/"+parseInt(appointment[0].doa.getMonth()+1)+"/"+appointment[0].doa.getFullYear()%></h3>
                                <span>Next Appointment</span>
                                <%}else{%>
                                   <h3>No appointments</h3>
              
                                <%}%>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-6 text-center">
                        <h1 style="color:#01c0c8; padding-top:35px" class="text">Welcome aboard, <%=currentUser.name%>!!</h1>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h3><%=appointment.length%></h3>
                                <span>Appointments</span>
                            </div>
                        </div>
                    </div>
                </div>
        
        
        <div class="row mt-4">
          

          <div class="col-lg-12">
            <div class="content-page">
              <div class="row">
                <div class="col-md-12">
                  <div class="page-title mb-2">
                    View Appointments
                  </div>
                  <div class="table-responsive">
                    <table class="table table-striped custom-table">
                      <thead>
                        <tr>
                          <th style="min-width:70px;">S.no</th>
                          <th style="min-width:90px;">Name</th>
                          <th style="min-width:90px;">Sex</th>
                          <th style="min-width:90px;">Doctor</th>
                          <th style="min-width:70px;">DOA</th>
                          
                          <th style="min-width:70px;">Time</th>
                          <th style="min-width:70px;">Disease</th>
                          
                        </tr>
                      </thead>
                      <% var c= 0;%>
                      <tbody>
                         <% appointment.forEach(function(appointment){ %>
                         <%c=c+1%>
                <tr>
                  <td><%=c%></td>
                <td><%=appointment.name%></td>
                <td>
                    <% if(appointment.sex===true){%>
                        Male
                   <% }else{%>
                       Female
                   <% }%>
                </td>
                <td><%=appointment.dname%></td>
                <td><%=appointment.doa.getDate()+"/"+parseInt(appointment.doa.getMonth()+1)+"/"+appointment.doa.getFullYear()%></td>
                <td><%=appointment.time%></td>
                <td><%=appointment.diseases%></td>
                
            </tr>
            <% } );%>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
        </div>
        
          </div>
        </div>
      </div>
    </div>


   
   <%}%>
        
</div>

      
     <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="javascripts/popper.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="javascripts/select2.min.js"></script>
    <script type="text/javascript" src="javascripts/moment.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="stylesheets/raphael/raphael-min.js"></script>
    <script type="text/javascript" src="javascripts/fullcalendar.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fullcalendar.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>


<%include partials/footer%>

